.card {
  max-width: 413px;
}

.card__image {
  margin-bottom: 12px;
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 353px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  padding: 10px;
  background-image: url(../images/union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 235px) {
  .card {
    width: 288px;
    align-items: center;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
}
