.footer {
  margin: auto 0;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 20px 20px 20px 40px;
}

.footer-text {
  text-align: center;
  width: 105px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
}
