.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__edit-btn {
  margin: 0;
  margin-top: auto;
  display: flex;
  height: 16px;
  width: 107px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  background-color: #212121;
  opacity: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    align-self: center;
    height: 52px;
    width: 100%;
  }
}
